<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>

  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxArrayLength="2147483647"
                        maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>

      
      <customBinding>
        <binding name="Custom_BCBinding"
                 closeTimeout="00:10:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00">
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647"
                          maxDepth="128"
                          maxNameTableCharCount="2147483647"
                          maxStringContentLength="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize ="2147483647"
                         maxBufferSize="2147483647"
                         maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      

    </bindings>
    <behaviors>

      
      <endpointBehaviors>
        <behavior name="BCEndPointBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      

      <serviceBehaviors>
        <behavior name="BCServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    
    <services>
      <service behaviorConfiguration="BCServiceBehaviour" name="bluecurve.core.wcf.ws.Service1">
        <endpoint address="" behaviorConfiguration="BCEndPointBehaviour"
            binding="customBinding"
            bindingConfiguration="Custom_BCBinding"
            name="BlueCurveWS"
            bindingName="Custom_BCBinding"
            contract="bluecurve.core.wcf.ws.BlueCurveWS" />
      </service>
    </services>
    

    <!-- 
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>