<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlueCurve.DataSync.SM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BlueCurve.DataSync.SM.My.MySettings.ConnectionString" connectionString="Database=ABG_DEV;Server=10.10.11.213\SQL2008;User=Research_NET;Password=bluecurve;Connect Timeout=30"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <userSettings>
        <BlueCurve.DataSync.SM.My.MySettings>
            <setting name="NoOfRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TimerDelay" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>ABG</value>
            </setting>
            <setting name="WebServiceURL" serializeAs="String">
                <value>http://abgdev/abgresearchws</value>
            </setting>
            <setting name="DefaultWebServiceName" serializeAs="String">
                <value>DataTransfer</value>
            </setting>
            <setting name="MultiWebServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatchSize" serializeAs="String">
                <value>40</value>
            </setting>
        </BlueCurve.DataSync.SM.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
