<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlueCurve.Core.CS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <BlueCurve.Core.CS.My.MySettings>
            <setting name="BlueCurve_Core_CS_localhost1_Service" serializeAs="String">
                <value>http://localhost/BlueCurve.Authenticate.WS/bc_auth_service.asmx</value>
            </setting>
            <setting name="BlueCurve_Core_CS_wcfadauthenticate_bluecurve_core_ad_wcf" serializeAs="String">
                <value>http://prose-pc.bc.local/bluecurve.core.ad.wcf/bluecurve_core_ad_wcf.svc</value>
            </setting>
        </BlueCurve.Core.CS.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <!--<system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BlueCurveWS">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.20.204.188/bluecurvenet_v5.6.0.0_svc/BlueCurveWS.svc"
                binding="customBinding" bindingConfiguration="BlueCurveWS"
                contract="ServiceReference1.BlueCurveWS" name="BlueCurveWS" />
        </client>
    </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBCIISServices"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="BlueCurveWS">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc" binding="customBinding" bindingConfiguration="BlueCurveWS" contract="ServiceReference1.BlueCurveWS" name="BlueCurveWS"/>
            <endpoint address="http://localhost/BCIISServices/BCIISServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBCIISServices" contract="ServiceReference2.IBCIISServices" name="BasicHttpBinding_IBCIISServices"/>
        </client>
    </system.serviceModel>
</configuration>
