<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBCIISServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BCIISServices/BCIISServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBCIISServices"
                contract="ServiceReference1.IBCIISServices" name="BasicHttpBinding_IBCIISServices" />
        </client>
    </system.serviceModel>
</configuration>
