<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_BlueCurveWS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BlueCurve.Core.WCF/BlueCurveWS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BlueCurveWS"
                contract="ServiceReference1.BlueCurveWS" name="BasicHttpBinding_BlueCurveWS" />
        </client>
    </system.serviceModel>
</configuration>